<header>
    <h1>Gestisci Annunci:</h1>
</header>
    <h2>Elenco dei tuoi Annunci:</h2>
    <ul *ngFor="let imm of immobili" >
    <li class="select">
        <a>{{imm.id}}</a>
        <a>; </a>
        <a>{{imm.descrizione}}</a>
        <a>; </a>
        <a>{{imm.posizione}}</a>
        <a>; Metri quadri:</a>
        <a>{{imm.metri_quadri}}</a>
        </li>
    </ul>
<!--Elenco annunci degli atri utenti in caso di accesso da amministratore-->
<div *ngIf="tipo[0]==='amministratore'">
    <h2>Elenco Annunci utenti:</h2>
    <ul *ngFor="let imm of immobili_ut" >
    <li class="select">
        <a>{{imm.id}}</a>
        <a>; </a>
        <a>{{imm.descrizione}}</a>
        <a>; </a>
        <a>{{imm.posizione}}</a>
        <a>; Metri quadri:</a>
        <a>{{imm.metri_quadri}}</a>
        </li>
    </ul>
</div>
 

<div>
    <h1>Elimina annuncio:</h1>
    <!-- Tabella per eliminare annuncio dell'immobile -->
    <table border="1" class="table1">
    <thead>
    <tr>
    <th>Id:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>
    <select id="id">
        <optgroup label="Immobili utente">
        <option *ngFor="let imm of immobili">
        {{imm.id}}
        </option>
        </optgroup>
        <optgroup label="Immobili utenti">
            <option *ngFor="let imm of immobili_ut">
                {{imm.id}}
            </option>
        </optgroup>
    </select>
    </td>
    <td>
    <input type="submit" value="applica" id="applica"  class="btn btn-primary" (click)="delete()" />
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    
    <!-- Tabella per modificare annuncio dell'immobile -->
    
    
    <h1>Modifica annuncio:</h1>
    <table border="1">
    <thead>
    <tr>
    <th>Id:</th>
    <th>Categoria:</th>
    <th>Descrizione:</th>
    <th>Posizione:</th>
    <th>Prezzo:</th>
    <th>Metri quadri:</th>
    <th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
        <select id="id2">
            <optgroup label="Immobili utente">
            <option *ngFor="let imm of immobili">
            <a>{{imm.id}}</a>
            </option>
            </optgroup>
            <optgroup label="Immobili utenti">
                <option *ngFor="let imm of immobili_ut">
                    {{imm.id}}
                </option>
            </optgroup>
        </select>
        </td>
        <td>
        <select id="categoria">
            <option *ngFor="let cat of categoria">{{cat}}</option>
        </select>
        </td>
        <td>
        <input type="text" name="descrizione" id="descrizione" >
        </td>
        <td>
        <input type="text" name="posizione" id="posizione">
        </td>
        <td>
        <input type="number" name="prezzo" value="0" id="prezzo">
        </td>
        <td>
        <input type="number" name="metri_quadri" value="0" id="metri_quadri">
        </td>
        <td>
            <input type="submit" value="applica"  class="btn btn-primary" (click)="Update()">
        </td>
        </tr>

    </tbody>
    </table>
    
